html{
    font-weight: 300;
    font-size: 16px;
}

html, body{
    height: 100%;
}

p, h1, h2, h3, h4, h5{
    margin: 0;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}