html {
    box-sizing: border-box;
    font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}