.bg-images[data-columns]::before {
    content: '20 .column.elem';
}

.column { float: left; }
.elem { width: 5%; }


.bg-images{
    img{
        filter: grayscale(100%);
        opacity: .5;
        width: 100%;
        display: block;
    }
}